@typeparam TValue
@inherits ComponentBase

<div class="text-center">
    <TelerikCheckBox Value="@Value"
                     ValueChanged="@((TValue value) => ValueChangedHandler(value))"
                     ValueExpression="@(() => Value)"
                     Enabled="@Enabled" />
</div>

@code {
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public TValue Value { get; set; }
    [Parameter] public object Context { get; set; }
    [Parameter] public string FieldName { get; set; }
    [Parameter] public bool Enabled { get; set; }

    public void ValueChangedHandler(TValue poValue)
    {
        Context.GetType().GetProperty(FieldName).SetValue(Context, poValue);

        if (ValueChanged.HasDelegate)
            ValueChanged.InvokeAsync(poValue);
    }
}
